@import '../../styles/mixins';
@import '../../styles/variables';

.paginate {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0 2rem;
	margin-top: 3rem;
	width: 100%;

	@include respond(desktop) {
		justify-content: flex-start;
	}

	&__button {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 0 1rem;
		width: 15rem;
		font-size: 1.4rem;
		font-weight: 400;
		font-family: 'Poppins' sans-serif;

		outline: none;
		border: none;
		padding: 1.2rem 0;
		color: $grayish;
		background-color: $blue;
		border-radius: 1rem;
		cursor: pointer;
		transition: all 0.4s ease-in-out;

		&:focus,
		&:hover {
			background-color: $blue-light;
		}

		&:active {
			background-color: $blue;
		}
	}

	&__icon {
		font-size: 1.4rem;
	}

	&__page {
		color: $grayish;
		font-size: 1.2rem;
	}
}
