@import '../../styles/mixins';
@import '../../styles/variables';

.sidebar {
   display: none;

   @include respond(desktop) {
      grid-column: 4 / 5;
      grid-row: 3 / 5;

      display: flex;
   }
   
}