//Fonts

$font-primary: 'Manrope', sans-serif;
$font-secondary: 'Poppins', serif;

//Colors

$blue-dark: #0d1321;
$blue: #1d2d44;
$blue-inactive: #1d2d44b9;
$blue-light: #3e5c76;
$blue-lighter: #748cab;
$grayish: #f0ebd8;
$grayish-dark: #c0beb6;
$blue-tinted: #1d2d44a6;
