@import '../../styles/mixins';
@import '../../styles/variables';

.main {
	grid-row: 4 / 6;
	grid-column: 1 / 5;

	@include respond(desktop) {
		grid-row: 4 / 5;
		grid-column: 1 / 4;
	}

	&__description {
		color: $grayish;
		font-size: 3rem;
		margin-top: 1.8rem;
		text-align: center;

		@include respond(desktop) {
			margin-top: 3rem;
			text-align: left;
			font-size: 5rem;
		}
	}

	&__container {
		display: flex;
		justify-content: center;
		flex-flow: row wrap;

		@include respond(desktop) {
			justify-content: start;
		}
	}

	&__inactive {
		display: none;
	}

	&__card-container {
		text-decoration: none;
		// width: 14rem;
		position: relative;
		height: 24rem;
		margin: 3.5rem 3.5rem 3.5rem 0;
		flex: 0 1 14rem;

		display: flex;
		flex-direction: column;
		cursor: pointer;
		transition: all 0.4s ease-in-out;

		@include respond(desktop) {
			// width: 22rem;\
			flex: 0 1 20rem;
			height: 28rem;
		}

		&:hover,
		&:focus {
			transform: scale(1.04);
		}
	}

	&__card {
		height: 100%;
		border-radius: 1.2rem;
		position: relative;
	}

	&__card-information {
		height: 2.5rem;
		display: flex;
		flex-direction: column;
		padding-top: 1rem;
		// overflow: hidden;
		text-overflow: ellipsis;
		// display: block;
		max-height: 2.5em;
		line-height: 1.8em;
		-webkit-box-orient: vertical;
	}

	&__card-descriptions {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
	}

	&__card-name {
		color: $grayish;
		font-family: 'Poppins' serif;
		font-size: 1.2rem;
		// overflow: hidden;
		text-overflow: ellipsis;
		display: block;
		// max-height: 2.6em;
		// line-height: 1.2em;
		-webkit-box-orient: vertical;
	}

	&__card-details {
		display: flex;
		justify-content: space-between;
	}

	&__card-time {
		color: $blue-lighter;
		font-size: 1.2rem;
	}

	&__card-detail {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__card-rating {
		color: $blue-lighter;
		font-size: 1.2rem;
	}

	&__card-icon {
		margin-right: 0.3em;
	}
}
