.menu {
  position: fixed;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / 5;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2 / 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  right: -110%;
  top: 8rem;
  width: 100%;
  height: 100vh;
  background-color: #1d2d44a6;
  z-index: 1000;
  -webkit-transition: 0.8s ease-in-out;
  transition: 0.8s ease-in-out;
}

.menu__close {
  position: fixed;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / 5;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2 / 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  right: 0;
  top: 8rem;
  width: 100%;
  height: 100vh;
  background-color: #0D1321;
  -webkit-transition: 0.8s ease-in-out;
  transition: 0.8s ease-in-out;
  z-index: 1000;
}

@media screen and (min-width: 75em) {
  .menu__close {
    display: none;
  }
}

@media screen and (min-width: 75em) {
  .menu {
    display: none;
  }
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  list-style: none;
  width: 90%;
}

.menu__item-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__item {
  text-decoration: none;
  padding: 1rem;
  margin: 0.5rem;
  text-align: center;
  font-size: 3.5rem;
  width: 100%;
  color: #F0EBD8;
  cursor: pointer;
  border-radius: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__item:hover {
  background-color: #1D2D44;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.menu__icon {
  margin-right: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-self: start;
}

.menu__buttons {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  margin-top: 1rem;
}

.menu__button {
  font-family: 'Manrope';
  color: #F0EBD8;
  width: 100%;
  height: 4.5rem;
  padding: 1rem;
  outline: none;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
}

.menu__button:hover,
.menu__button *:focus {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.menu__button:active {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.menu__login {
  background-color: #3E5c76;
}

.menu__login:hover, .menu__login:focus {
  background-color: #3E5c76;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.menu__sign-up {
  margin-top: 0.8rem;
  background: -webkit-gradient(linear, left top, right top, from(#f12711), to(#f5af19));
  background: linear-gradient(to right, #f12711, #f5af19);
}

.menu__sign-up:hover, .menu__sign-up:focus {
  background: -webkit-gradient(linear, left top, right top, from(#f5af19), to(#f12711));
  background: linear-gradient(to right, #f5af19, #f12711);
}
/*# sourceMappingURL=menu.css.map */