@import '../../styles/variables';
@import '../../styles/mixins';

.navigation {
	grid-row: 1 / span 1;
	grid-column: 1/ 5;

	position: relative;
	// top: 1.5rem;
	z-index: 100000;
	overflow: hidden;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;

	&__icon {
		width: 4rem;
		height: 4rem;
	}

	&__hamburger-container {
		display: flex;
		justify-content: center;
		align-items: center;

		width: 4rem;
		height: 4rem;
		border-radius: 100%;

		cursor: pointer;

		&:hover {
			background-color: $blue;
			transition: all 0.5s ease-in;
		}

		&:active {
			transition: all 0.8s ease-in;
		}

		@include respond(desktop) {
			display: none;
		}
	}

	&__wrapper {
		height: 100%;
		display: none;
		align-items: center;
		position: relative;

		@include respond(desktop) {
			display: flex;
		}
	}

	&__name {
		font-size: 1.2rem;
		color: $grayish;
		font-family: 'Manrope' sans-serif;
	}

	&__profile--picture {
		height: 3.5rem;
		width: 3.5rem;
		border-radius: 100%;
		margin-left: 1.2rem;
		cursor: pointer;
	}

	&__avatar {
		border-radius: 100%;
		margin-left: 1.2rem;
	}

	&__hamburger {
		color: $grayish;
		width: 3rem;
		height: 3rem;

		@keyframes animation-initial {
			0% {
				opacity: 1;
			}

			100% {
				opacity: 0;
			}
		}
	}

	&__hamburger-close {
		position: fixed;
		z-index: 10000000;
	}

	&__link {
		text-decoration: none;
	}

	&__buttons {
		display: none;

		@include respond(desktop) {
			display: flex;
			align-items: center;
		}
	}

	&__button {
		outline: none;
		border: none;
		width: 8rem;
		height: 3rem;
		margin: 1rem;
		margin-right: 0;
		font-family: 'Manrope';
		border-radius: 0.5rem;
		color: $grayish;
		cursor: pointer;

		&:hover,
		*:focus {
			transform: scale(1.1);
			transition: 0.5s ease;
		}

		&:active {
			transform: scale(1);
			transition: 0.5s ease;
		}
	}

	&__login {
		background-color: $blue-lighter;

		&:hover,
		&:focus {
			background-color: $blue-light;
			transition: 0.5s ease;
		}
	}

	&__sign-in {
		background: linear-gradient(to right, #f12711, #f5af19);
		transition: 0.5s ease;

		&:focus {
			background: linear-gradient(to right, #f5af19, #f12711);
		}
	}

	&__signout {
		background-color: $blue-light;
		position: absolute;
		top: 10%;
		right: 2%;
		z-index: 100000;
		border-radius: 1.2rem;
		cursor: pointer;
		transition: all 0.4s ease-in-out;

		&:focus,
		&:hover {
			background-color: $blue-lighter;
		}
	}

	&__logout {
		padding: 1.5rem 2.5rem;
		color: $grayish;
		font-size: 1.2rem;
		font-weight: bold;
	}
}
