@import '../../styles/mixins';
@import '../../styles/variables';

.rejected {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: $blue-dark;

	&__description {
		color: $grayish;
		font-size: 2rem;
		font-family: 'Manrope';
	}
}
