@import '../../styles/mixins';
@import '../../styles/variables';

.main {
	grid-row: 3 / 5;
   grid-column: 1 / 5;

   @include respond (desktop) {
      grid-row: 4 / 5;
	   grid-column: 1 / 4;
   }
}
