.navigate {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / 5;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  display: none;
}

@media screen and (min-width: 75em) {
  .navigate {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.navigate__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 45%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navigate__list {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.navigate__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.navigate__link {
  cursor: pointer;
  color: #f0ebd8;
  font-family: 'Manrope' serif;
  font-weight: 400;
  font-size: 1.8rem;
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.navigate__home {
  border-right: 2px solid #f0ebd8;
  padding-right: 1.8rem;
}

.navigate__home--text {
  font-size: inherit;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.navigate__home--text:hover, .navigate__home--text:focus {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.navigate__favourites {
  padding-left: 2rem;
}

.navigate__favourites--text {
  font-size: inherit;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.navigate__favourites--text:hover, .navigate__favourites--text:focus {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.navigate__icon {
  position: absolute;
  top: 20%;
  right: -40%;
}

.navigate__dropdown {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  left: -50%;
  background-color: #3e5c76;
  padding: 0.2rem;
  width: 16rem;
  border-radius: 10px;
  z-index: 10000;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.navigate__dropdown-show-movies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  left: -50%;
  background-color: #3e5c76;
  padding: 0.2rem;
  width: 16rem;
  border-radius: 10px;
  z-index: 10000;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.navigate__dropdown-show-shows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  left: -50%;
  background-color: #3e5c76;
  padding: 0.2rem;
  width: 16rem;
  border-radius: 10px;
  z-index: 10000;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.navigate__dropdown-show-anime {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  left: -50%;
  background-color: #3e5c76;
  padding: 0.2rem;
  width: 16rem;
  border-radius: 10px;
  z-index: 10000;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.navigate__dropdown-link {
  text-decoration: none;
  color: #f0ebd8;
  font-size: 1.8rem;
  padding: 1.2rem;
  text-align: center;
  width: 100%;
  border-radius: 10px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.navigate__dropdown-link:hover {
  background-color: #1d2d44;
}

.navigation {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / span 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1/ 5;
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation__icon {
  width: 4rem;
  height: 4rem;
  cursor: pointer;
}

.navigation__hamburger-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 4rem;
  height: 4rem;
  border-radius: 1rem;
  cursor: pointer;
}

.navigation__hamburger-container:hover {
  background-color: #1d2d44;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

.navigation__hamburger-container:active {
  -webkit-transition: all 0.8s ease-in;
  transition: all 0.8s ease-in;
}

@media screen and (min-width: 75em) {
  .navigation__hamburger-container {
    display: none;
  }
}

.navigation__wrapper {
  height: 100%;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

@media screen and (min-width: 75em) {
  .navigation__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.navigation__name {
  font-size: 1.2rem;
  color: #f0ebd8;
  font-family: 'Manrope' sans-serif;
  margin-right: 1rem;
}

.navigation__profile--picture {
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 100%;
  cursor: pointer;
}

.navigation__avatar {
  border-radius: 100%;
  cursor: pointer;
}

.navigation__hamburger {
  color: #f0ebd8;
  width: 3rem;
  height: 3rem;
}

@-webkit-keyframes animation-initial {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes animation-initial {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.navigation__link {
  text-decoration: none;
}

.navigation__buttons {
  display: none;
}

@media screen and (min-width: 75em) {
  .navigation__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.navigation__button {
  outline: none;
  border: none;
  width: 8rem;
  height: 3rem;
  margin: 1rem;
  margin-right: 0;
  font-family: 'Manrope';
  border-radius: 0.5rem;
  color: #f0ebd8;
  cursor: pointer;
}

.navigation__button:hover,
.navigation__button *:focus {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.navigation__button:active {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.navigation__login {
  background-color: #748cab;
}

.navigation__login:hover, .navigation__login:focus {
  background-color: #3e5c76;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.navigation__sign-in {
  background: -webkit-gradient(linear, left top, right top, from(#f12711), to(#f5af19));
  background: linear-gradient(to right, #f12711, #f5af19);
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.navigation__sign-in:focus {
  background: -webkit-gradient(linear, left top, right top, from(#f5af19), to(#f12711));
  background: linear-gradient(to right, #f5af19, #f12711);
}

.navigation__signout {
  background-color: #3e5c76;
  position: absolute;
  top: 10%;
  right: 2%;
  z-index: 100000;
  border-radius: 1.2rem;
  cursor: pointer;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.navigation__signout:focus, .navigation__signout:hover {
  background-color: #748cab;
}

.navigation__logout {
  padding: 1.5rem 2.5rem;
  color: #f0ebd8;
  font-size: 1.2rem;
  font-weight: bold;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Manrope', 'Poppins', sans-serif;
  background-color: #0d1321;
  margin: 1.5rem 2.5rem;
  overflow-x: hidden;
}

.app {
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  grid-gap: 1.5rem;
  -ms-grid-rows: (5rem)[4] 100%;
      grid-template-rows: repeat(4, 5rem) 100%;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

::-webkit-scrollbar {
  width: 0.8rem;
}

::-webkit-scrollbar-thumb {
  background: #3e5c76;
  border-radius: 20rem;
}
/*# sourceMappingURL=App.css.map */